#imgh1 {
  width: 290px;
  height: 290px;
  margin-left: 150px;
  margin-top: -0.7px;
}
.txt {
  margin-top: 45px;

  margin-left: 400px;
}
#button {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 24px;
  width: 170px;

  margin-left: 65%;
  margin-right: 40%;
  margin-top: 5%;

  background: #fffdc6;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 4px;
}

#h2 {
  width: 319px;
  height: 36px;
  margin-left: 60%;

  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 36px;

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.5px;

  color: #000000;
}

#h5 {
  width: 310px;
  height: 42px;
  margin-left: 60%;

  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  display: flex;
  align-items: center;
  letter-spacing: 0.5px;
  color: #a8a8a8;
}
#p {
  width: 503px;
  height: 75px;
  margin-left: 500px;
  right: 25%;
  margin-top: 50px;
  font-family: Mulish;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.5px;

  color: #000000;
}

#imgh2 {
  margin-left: 500px;
  right: 25%;
  margin-top: 1px;
  bottom: 0%;

  background: #f2f2f2;
}
#homee4 {

  width: 800px;
  height: 500px;
  
}
.photo {
  display: flex;
}

